# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python virtual environment
.venv/*

# LAMMPS dump files
lammps/log.lammps
lammps/data.springs
lammps/output/*

# Project files
.vscode/git_diff.txt
tree.txt
lammps/N12_Lmat4*
log.lammps
dump.step0.lammpstrj
