# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python virtual environment
.venv/*

# LAMMPS dump files
lammps/log.lammps
lammps/data.springs
lammps/output/*

# Project files
.vscode/git_diff.txt
tree.txt
lammps/dump.*
lammps/*.png
lammps/simulation_movie.gif
lammps/log_springs.txt
outputs/dump.*
outputs/frame_*
code/build/*
stable_29Aug2024_update3.zip
codes_cpp/lammps-stable_29Aug2024_update3/*
codes_cpp/build/*
networks/*
codes_cpp/log.lammps
